<body>
<app-navbar></app-navbar>

<div class="container">
<div class="row">
    <div class="col-md-6 mx-auto mt-4">
    <div class="card">
    <div class="card-body">
             <p >
              <button  class="btn btn-info" [routerLink]="['/home/admin-especialista']"    >Administrar especialistas</button>
              <button  class="btn btn-info" [routerLink]="['/home/admin-registro']"   >Registrar usuario nuevo</button>
              <button  class="btn btn-info"  [routerLink]="['/home/admin-info']"  >Información de usuarios</button>
            
              
            </p>
            
        
         
    </div>
    </div>
    </div>
    </div>
    </div>
    
    

</body>