@-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
body{
    -webkit-animation:slide-in-top 1s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-top 1s cubic-bezier(.25,.46,.45,.94) both;

    width: 100%;
    min-height: 100vh;
    background: url('../../../../assets/imagenes/fondo-home.jpg') no-repeat;
    background-size: cover;
    text-align: center;
 }

 .card
 {
     background-color: transparent;
     border: transparent;
 }

 .btn{

    
    height: 100px;
    width: 500px;
    text-align: center;
    line-height: 40px;
    font-size: 35px;
    margin: 10px;
    color: white;
     text-shadow: 2px 0 0 black;
    
}