<body>
<app-navbar></app-navbar>

<div class="container">
    <div class="container-graficos">
        <div class="cuerpo-graficos">
            <div class="botones-graficos">
                <div id="opxesp" (click)="cargarOperacionesEspecialidades()"><span>Operaciones por Especialidad</span></div>
                <div id="turnxdia" (click)="cargarCantidadTurnosPorSemana()"><span>Turnos por Día</span></div>
                <div id="turnxmed" (click)="cargarTurnosPorProfesional()"><span>Turnos por Médico</span></div>
                <div id="medxdia" (click)="cargarProfesionalesPorDia()"><span>Ingresos por Días</span></div>
            </div>
            <div class="graficos" id="graficos"></div>
        </div>
    </div>
    
</div>

</body>

