<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Clinica Virtual<img src="../../../assets/imagenes/icono-cli2.png" height="40px" width="40px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" *ngIf='user$ | async as user'>
            <a class="nav-link active" >Bienvenido, {{user.email}}</a>
          </li>
        </ul>
        <form class="d-flex">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" >
              <button class="nav-link"  (click)='irHome()' style="background-color: transparent; border: transparent;" >Inicio</button>
            </li>
            <li class="nav-item" *ngIf="esEspecialista">
              <button class="nav-link" [routerLink]="['../../especialista/pacientes']"  style="background-color: transparent; border: transparent;" >Pacientes</button>
            </li>
            <li class="nav-item" *ngIf="esAdmin">
              <button class="nav-link" [routerLink]="['../../admin/usuarios']" style="background-color: transparent; border: transparent;" >Usuarios</button>
            </li>
            <li class="nav-item" >
              <button class="nav-link" (click)='irPerfil()' style="background-color: transparent; border: transparent;" >Mi Perfil</button>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/bienvenida']" (click)="onLogout() " style="color: red;" >Cerrar sesión</a>
            </li>
          </ul>
        </form>
      </div>
    </div>
</nav> 