<body>


<div >
  <h1>CLINICA VIRTUAL</h1>
        <img src='../../../assets/imagenes/icono-cli2.png' id='logo'>
        <p class='sub' >Bienvenido a la clinica virtual, por favor inicie sesión para ingresar al portal o registre una cuenta en caso de no tener una.</p>
        <p class='botones' >
          <a [routerLink]="['/ingresar/login']" class="btn btn-success" id="btnLog">INICIAR SESIÓN</a>
          <a [routerLink]="['/ingresar/register']" class="btn btn-info" id=btnReg>REGISTRARSE</a>
        </p>
</div>
 


</body>