<body>
    <app-navbar></app-navbar>

    <div class="container" >
        <h1>Historia Clinica</h1>
        <div class ="form-group row" >
          <label for="search" class="col-sm-4 col-form-label" style="text-align: right; font-size: larger;">Buscar:</label>
          <div class = "col-sm-4">
            <input type="text" class="form-control" id="search" [(ngModel)]="searchValue" placeholder="Paciente/Especialista/Especialidad"/>
          </div>
        </div>
        
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Especialidad</th>
                <th scope="col">Paciente</th>
                <th scope="col">Fecha</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let turno of turnos$ | async | filtrar: searchValue">
              <tr class="table-secondary" *ngIf="turno.emailEspecialista == usuarioLogeado && turno.estado == 'Realizado'" >
                <th scope="row">{{turno.especialidad}}</th>
                <td>{{turno.nombrePaciente}}</td>
                <td>{{turno.turno.dia}} - {{turno.turno.fecha}}</td>
                <td>
               
                    <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalToggle2" *ngIf="turno.estado == 'Realizado'" (click)="verResenia(turno)" >Ver reseña</button>
                
               
                    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1"  >
                      <div class="modal-dialog modal-dialog-centered" >
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel">Diagnostico</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body" >
                            <ng-container >
                              <p>Altura: {{mostrarDiagnostico.altura}}</p>  
                              <p>Peso: {{mostrarDiagnostico.peso}}</p>  
                              <p>Temperatura: {{mostrarDiagnostico.temperatura}}</p>  
                              <p>Presion: {{mostrarDiagnostico.presion}}</p>
                              <p *ngIf="mostrarDiagnostico.dato1!=''">{{mostrarDiagnostico.dato1}}: {{mostrarDiagnostico.valor1}}</p>
                              <p *ngIf="mostrarDiagnostico.dato2!=''">{{mostrarDiagnostico.dato2}}: {{mostrarDiagnostico.valor2}}</p>  
                              <p *ngIf="mostrarDiagnostico.dato3!=''">{{mostrarDiagnostico.dato3}}: {{mostrarDiagnostico.valor3}}</p>     
                           </ng-container>
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Ver reseña</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel2" >Reseña</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            {{mostrarResenia}}
                          </div>
                          <div class="modal-footer"  >
                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal" >Ver diagnostico</button>
                          </div>
                        </div>
                      </div>
                    </div>
                
              
        
               
        
        
                </td>
              </tr>
              </ng-container>
            </tbody>
          </table>
        
        </div>

</body>

