body{
    
    width: 100%;
    min-height: 100vh;
    background: url('../../../../assets/imagenes/fondo-home.jpg');
    background-size: cover;
   //  text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    
 }

 .list-turnos{
    overflow-y:auto;

    max-height: 555px;
 }

 .list-group-item.active {
   background-color: skyblue;
   border-color: skyblue;
}

 .list-group{
    overflow-y:auto;
      
    max-height: 400px;
 }

 .tab-content{
     border: 1px solid rgb(172, 171, 171);
     
 }
