

body{
  
   width: 100%;
   min-height: 100vh;
   background: url('../../../../assets/imagenes/fondo-register.jpeg') no-repeat;
   background-size: cover;
   text-align: center;
   
  
}

mat-form-field{
    width: 300px;
}

.invalid
{
    color: rgb(190, 189, 189);
}


@-webkit-keyframes tilt-in-top-1{0%{-webkit-transform:rotateY(30deg) translateY(-300px) skewY(-30deg);transform:rotateY(30deg) translateY(-300px) skewY(-30deg);opacity:0}100%{-webkit-transform:rotateY(0deg) translateY(0) skewY(0deg);transform:rotateY(0deg) translateY(0) skewY(0deg);opacity:1}}@keyframes tilt-in-top-1{0%{-webkit-transform:rotateY(30deg) translateY(-300px) skewY(-30deg);transform:rotateY(30deg) translateY(-300px) skewY(-30deg);opacity:0}100%{-webkit-transform:rotateY(0deg) translateY(0) skewY(0deg);transform:rotateY(0deg) translateY(0) skewY(0deg);opacity:1}}
.card{
    -webkit-animation:tilt-in-top-1 .6s cubic-bezier(.25,.46,.45,.94) both;animation:tilt-in-top-1 .6s cubic-bezier(.25,.46,.45,.94) both;
    background-color: rgb(10, 159, 204);
    border: black;
}


.btnAlta{

    
    height: 200px;
    width: 400px;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    margin: 50px;
    color: black;
    text-shadow: 2px 2px 0 white;
    
}

#btnPac
{
    background: url('../../../../assets/imagenes/paciente.jpg') no-repeat;
    background-size: 400px 200px;
    background-position: center;
}

#btnEsp
{
    background: url('../../../../assets/imagenes/especialista.jpg') no-repeat;
    background-size: 400px 200px;
    background-position: center;
    
}