

body{
    
   width: 100%;
   min-height: 100vh;
   background: url('../../../../assets/imagenes/login-fondo.jpg');
   background-size: cover;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block;
}

#avatar{
    height: 150px;
    width: 150px;
}

@-webkit-keyframes tilt-in-top-1{0%{-webkit-transform:rotateY(30deg) translateY(-300px) skewY(-30deg);transform:rotateY(30deg) translateY(-300px) skewY(-30deg);opacity:0}100%{-webkit-transform:rotateY(0deg) translateY(0) skewY(0deg);transform:rotateY(0deg) translateY(0) skewY(0deg);opacity:1}}@keyframes tilt-in-top-1{0%{-webkit-transform:rotateY(30deg) translateY(-300px) skewY(-30deg);transform:rotateY(30deg) translateY(-300px) skewY(-30deg);opacity:0}100%{-webkit-transform:rotateY(0deg) translateY(0) skewY(0deg);transform:rotateY(0deg) translateY(0) skewY(0deg);opacity:1}}
.card{
    -webkit-animation:tilt-in-top-1 .6s cubic-bezier(.25,.46,.45,.94) both;animation:tilt-in-top-1 .6s cubic-bezier(.25,.46,.45,.94) both;
    background-color: transparent;
    border: transparent;
}

@media screen and (max-width: 700px)
{
    #avatar{
        height: 100px;
        width: 100px;
    }


    .btn{
        
        height: 40px;
        line-height: 5px;

    }

}
